@model MeePoint.Models.Meeting

@{
	ViewData["Title"] = "Agendar Reunião";
}
@Html.Partial("_BreadCrumb", @ViewData["Title"])

<div class="card card-warning">
	<div class="card-header">
		<h3 class="card-title">Agendamento</h3>
	</div>
	<!-- /.card-header -->
	<form>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-12">

					<div class="form-group">
						<label>Tópico da Reunião</label>
						<textarea asp-for="Name" class="form-control" rows="3" placeholder="Tema da reunião"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<!-- text input -->
					<div class="form-group">
						<label>Data de Início</label>
						<input asp-for="MeetingDate" class="form-control" placeholder="Dia de Início">
					</div>
				</div>
				<div class="col-sm-6">
					<!-- text input -->
					<div class="form-group">
						<label>Hora de começo</label>
						<input asp-for="MeetingDate.Hour" type="time" class="form-control" placeholder="Hora de Início">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<!-- text input -->
					<div class="form-group">
						<label>Duração da reunião (expectável)</label>
						<select asp-for="ExpectedDuration" class="form-control" placeholder="Tempo da Reunião" asp-items="@ViewBag.ExpectedDuration">
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<!-- text input -->
					<div class="form-check">
						<input asp-for="Recurring" class="form-check-input" type="checkbox">
						<label class="form-check-label">Reunião recorrente</label>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<button type="submit" class="btn btn-primary">Guardar</button>
		</div>
	</form>
	<!-- /.card-body -->
</div>