@page
@model ForgotPasswordConfirmation

@{
	Layout = "_CleanLayout";
}

@{
	ViewData["Title"] = "Confirmação";
}




 
<div class=" login-page  justify-content-start ">
	<div class="container mt-5">
		<h1>Por favor verifique a sua caixa de entrada de email para que possa alterar a palavra chave </h1>
		<p class="text-secondary">Para prosseguir o processo de alteração de password, deve se dirigir à caixa de entrada do seu email e seguir as instruções que lá estão assinaladas</p>
	</div>
	
	
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />

}




