@page
@model ForgotPasswordModel
@{
	Layout = "_CleanLayout";
}

@{
	ViewData["Title"] = "Esqueceu-se da Password?";
}


<div class="hold-transition login-page">
	<div class="login-box">
		<!-- /.login-logo -->
		<div class="card card-outline card-primary">
			<div class="card-header text-center">
				<a asp-controller="Home" asp-action="MeePoint" class="h1"><b>Mee</b>Point</a>
			</div>
			<div class="card-body">
				<p class="login-box-msg">Recuperação da conta</p>
				<div asp-validation-summary="All" class="text-danger"></div>

				<form id="account" method="post">
					<div class="input-group mb-3">
						<input asp-for="Input.Email" class="form-control" placeholder="Email" />
						<span asp-validation-for="Input.Email" class="text-danger"></span>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					
					<div class="row">
						
						<!-- /.col -->
						<div class="col-4">
							<button type="submit" class="btn btn-primary btn-block">Submeter</button>
						</div>
						<!-- /.col -->
					</div>
				</form>

				
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />

}


