@page
@model ResetPasswordConfirmationModel
@{
	Layout = "_CleanLayout";
}
@{
	ViewData["Title"] = "Reset password confirmation";
}

<div class=" login-page  justify-content-start ">
	<div class="container mt-5">
		<h1>Alteração de Password com sucesso </h1>
		<p class="text-secondary">A password da sua conta foi alterada com sucesso <a asp-page="./Login">Clique aqui para efetuar o login</a>.</p>
	</div>


</div>
