@page
@model ResetPasswordModel
@{
	Layout = "_CleanLayout";
}
@{
	ViewData["Title"] = "Reset password";
}

<div class="hold-transition login-page">
	<div class="login-box">
		<!-- /.login-logo -->
		<div class="card card-outline card-primary">
			<div class="card-header text-center">
				<a asp-controller="Home" asp-action="MeePoint" class="h1"><b>Mee</b>Point</a>
			</div>
			<div class="card-body">
				<p class="login-box-msg">Altera a password.</p>


				<form id="account" method="post">
					<div asp-validation-summary="All" class="text-danger"></div>
					<input asp-for="Input.Code" type="hidden" /><div class="input-group mb-3">
						<input asp-for="Input.Email" class="form-control" placeholder="Email" />
						<span asp-validation-for="Input.Email" class="text-danger"></span>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input asp-for="Input.Password" class="form-control" placeholder="Password" />
						<span asp-validation-for="Input.Password" class="text-danger"></span>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirme Password" />
						<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="row">

						<!-- /.col -->
						<div class="col-6 offset-6">
							<button type="submit" class="btn btn-primary btn-block">Alterar Password</button>
						</div>
						<!-- /.col -->
					</div>
				</form>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}