@model MeePoint.Models.Group

@{
    ViewData["Title"] = "Edit";
}
@Html.Partial("_BreadCrumb", @ViewData["Title"])
<h1>Add Managers</h1>

<h4>Group</h4>
<hr />
<div class="card card-default">
    <div class="card-body">
        <form asp-action="AddManagers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GroupID" />
            <div class="col-6 col-sm-3">
                <div class="form-group">
                    <label>Responsáveis</label>
                    <div class="select2-purple">
                        <select name="managers" class="select2" multiple="multiple" data-placeholder="Seleciona os Responsáveis Pelo Grupo" data-dropdown-css-class="select2-purple" style="width: 100%;" asp-items="@ViewBag.GroupMembers">
                        </select>
                    </div>
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-6 col-sm-3">
                <div class="form-group">
                    <label>Co-responsáveis</label>
                    <div class="select2-purple">
                        <select name="coManagers" class="select2" multiple="multiple" data-placeholder="Selecions os Co-Responsáveis do Grupo" data-dropdown-css-class="select2-purple" style="width: 100%;" asp-items="@ViewBag.GroupMembers">
                        </select>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success ">Adicionar</button>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts

{
    <script>
		$(function () {

			$('.select2').select2()
		});
    </script>
}