@model MeePoint.Models.Group

@{
	ViewData["Title"] = "Delete";
}
@Html.Partial("_BreadCrumb", @ViewData["Title"])





<section class="content">
	<div class="error-page">
		<h2 class="headline text-danger">Oops</h2>

		<div class="error-content">
			<h3><i class="fas fa-exclamation-triangle text-danger"></i> Apagar</h3>

			<p>
				Tem a certeza que pretende apagar @Model.Name da base de dados? A operação é irreversível.
			</p>

			<form asp-action="Delete">
				<input type="hidden" asp-for="@Model.GroupID" />
				<input type="submit" value="Delete" class="btn btn-danger" /> |
				<a asp-action="Index">Voltar atrás</a>
			</form>
		</div>
	</div>
	<!-- /.error-page -->

</section>

