@model IEnumerable<MeePoint.Models.Entity>

@{
	ViewData["Title"] = "Lista De Entidades";
}
@Html.Partial("_BreadCrumb", @ViewData["Title"])
<section class="content">

	<!-- Default box -->
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Entidades</h3>

			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
					<i class="fas fa-minus"></i>
				</button>
				<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
					<i class="fas fa-times"></i>
				</button>
			</div>
		</div>
		<div class="card-body p-0">
			@await Html.PartialAsync("_EntitiesTablePartial", Model)
		</div>
		<!-- /.card-body -->
	</div>
	<!-- /.card -->
</section>